<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Banking_System.Properties.Settings.bank_loginConnectionString"
            connectionString="server=localhost;user id=root;password=Aps113322;persistsecurityinfo=True;database=bank_login"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>